.as {
  animation-duration: 0.75s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-top: -50%;
    font-size: 50%;
  }

  50% {
    font-size: 150%;
  }

  to {
    margin-top: 0;
    font-size: 100%;
  }
}
