<div class="row mt-3">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
    <a href="#" class="list-group-item" *ngFor="let recipe of recipes">
      <div class="row p-0">
        <div class="col-6">
          <h3 class="">{{recipe.name}}</h3>
          <p class="">{{recipe.description}}</p>
        </div>
        <div class="col-6 align-self-center">
          <img src="{{recipe.imagePath}}" alt="" class="img-fluid  float-end" style="max-height: 50px;">
        </div>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
</div>
